//----------------------------------------------focus-----------------------------------------------------------

.focus{
    padding-top: clamp(3.125rem, 10vh, 9.375rem);
    display: flex;
    padding: 0rem 1.5625rem;
    @media (max-width: 68.75em) {
        justify-content: center;
        align-items: center;
        text-align: center;
        &::after{
            position: absolute;
            content: '';
            top: 0;
            left: 0;
            width: 100%;
            height: 70%;
            background: url("/src/assets/img/home/focus/homeBG.png") no-repeat;
            background-size: cover; 
        }
    }
    &__content {
        max-width: 34.375rem;
        display: grid;
        gap: .9375rem;
        z-index: 10;
    }
}
.focus-content {
    &__title {
        font-family: 'Harabara';
        font-weight: 700;
        font-size: clamp(1.5rem , 5vw, 2.75rem);
        line-height: 136%;
    }
    &__reverse {
        display: flex;
        flex-direction: column;
        gap: .9375rem;
        @media (max-width: 68.75em) {
            flex-direction: column-reverse;
            padding-top: 6.25rem;
        }
    }
    &__text {
        font-weight: 400;
        line-height: 162%;
        @media (max-width: 68.75em) {
            color: $mainColor;
            padding-top: clamp(7.8125rem , 12vw, 28.125rem);
        }
    }
    &__navigation {
        display: flex;
        gap: 1.5625rem;
        @media (max-width: 68.75em) {
            justify-content: center;
        }
        @media (max-width: 21.875em) {
            flex-direction: column;
        }
    }
}

//----------------------------------------------swiper-----------------------------------------------------------

.swiper {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    @media (max-width: 68.75em) {
        display: none;
    }
}
.swiper-wrapper {
   
}
.swiper-slide {
    
}
.swiper-slide-1 {
    &::after{
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        width: 100%;
        background: url("/src/assets/img/home/focus/homeBG.png") no-repeat;
        background-size: cover;
        @media (min-width: 68.75em) {
            height: 100%;
        } 
        @media (max-width: 68.75em) {
            height: 55%;
        } 
    }
}
.swiper-slide-2 {
    &::after{
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: url("/src/assets/img/home/focus/homeBG2.png") no-repeat;
        background-size: cover; 
        @media (min-width: 68.75em) {
            height: 100%;
        } 
        @media (max-width: 68.75em) {
            height: 55%;
        } 
    }
}
.swiper-pagination {
}
.swiper-button-prev {
}
.swiper-button-next {
}

//----------------------------------------------technologies-----------------------------------------------------------
.technologies {
    margin-top: 34.375rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: clamp(3.125rem , 10vw, 7.5rem );
    @media (max-width: 100rem) {
        margin-top: 15.625rem;
    } 
    @media (max-width: 68.75em) {
        margin-top: 7.8125rem;
    } 
 
}
.technologies-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: $mainColor;
    gap: 1.875rem;
    text-align: center;

    &__title {
        text-transform: uppercase;
        font-family: 'Harabara';
        font-size: 2.25rem;
        font-weight: 700;
        color: $darkBlueColor;
        letter-spacing: 0.1em;
        padding-bottom: clamp(.625rem , 5vw, 1.875rem);
    }
    &__text {
        max-width: 56.125rem;
        line-height: 156%;
        text-align: center;
        font-weight: 400;
        font-size: 1.5rem;
    }
    &__text-blue {
        color: #00A4E8;
    }
    &__text-DarkBlue {
        color: #194484;
    }
    &__apps {
        display: flex;
        gap: clamp(.625rem , 10vw, 5rem);
    }
    &__subtext {
        max-width: 56.125rem;
        line-height: 156%;
        font-weight: 400;
        font-size: 1.5rem;
    }
}
.technologies-content-apps {
    display: flex;
    flex-direction: row;
    @media (max-width: 53.125rem) {
        flex-direction: column;
    }
    &__item {
        padding: .75rem;
        box-shadow: 0px 4px 12px 0px rgba(41, 24, 111, 0.2);
        border-radius: 1rem;
    }
    &__item-1 {
        background-color: #06B25F;
    }
	&__item-2 {
        background-color: #276ED8;
    }
	&__item-3 {
        background-color: #84B5FF;
    }
}
.technologies-raiting {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5.625rem;
    padding: 1.875rem;
    border-radius: .9375rem;
    box-shadow: 0px 3px 16px 2px rgba(29, 51, 107, 0.15);
    max-width: 55.8125rem;
    @media (max-width: 53.125rem) {
        flex-direction: column;
    }
    &__logo {}
    &__stars {}
}
.technologies-raiting-number{
    color: $mainColor;
}
.button-lightGreen {
}

.technologies-raiting__content {
    display: flex;
    gap: 1.25rem;
    justify-content: center;
    align-items: center;
    &__number {
        color: $mainColor;
        font-size: 1.125rem;
        font-weight: 600;
        width: 10px;
    }
}

@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);
/****** Style Star Rating Widget *****/


.rating { 
  border: none;
  float: left;
}

.rating > input { display: none; } 
.rating > label:before { 
  margin: .3125rem;
  font-size: 1.25em;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";
}

.rating > .half:before { 
  content: "\f089";
  position: absolute;
}

.rating > label { 
  color: #ddd; 
 float: right; 
}

/***** CSS Magic to Highlight Stars on Hover *****/

.rating > input:checked ~ label, /* show gold star when clicked */
.rating:not(:checked) > label:hover, /* hover current star */
.rating:not(:checked) > label:hover ~ label { color: rgb(6, 178, 95);  } /* hover previous stars in list */

.rating > input:checked + label:hover, /* hover current star when changing rating */
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label, /* lighten current selection */
.rating > input:checked ~ label:hover ~ label { color: rgb(100, 200, 152);  } 

//----------------------------------------------services-----------------------------------------------------------
.services {
    margin-top: 7.5rem;
    margin-bottom: 7.5rem;
    &__container {
    }
    &__title {
        font-family: 'Harabara';
        font-weight: 700;
        color: $darkBlueColor;
        font-size: 2.25rem;
        letter-spacing: 0.1rem;
        text-transform: uppercase;
        text-align: center;
    }
    &__content {
        align-items: center;
        justify-content: center
    }
}
.services-content {
        display: grid;
        gap: .9375rem;
        padding: 0rem .625rem;
    &__block-row1 {
        display: grid;
        gap: .9375rem;
    }
    &__block {
        @media (max-width: 68.75rem) {
            display: flex;
            flex-direction: column;
        }
    }
    &__block-row2 {
        display: grid;
        gap: .9375rem;
    }
}
.services-content-block {
    display: flex;
    gap: 1.5rem;
    justify-content: center;
    align-items: center;
    &__info {
        max-width: 34.375rem;
    }
    &__image img{
        width: 100%;
        min-width: 18.75rem;
    }
}
.services-content-block-info {
    display: grid;
    gap: .625rem;
    &__title {
        color: $mediumBlueColor;
        font-size: 1.5rem;
        font-weight: 700;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        text-align: center;
    }
    &__text {
        color: $mainColor;
        font-weight: 400;
        line-height: 162%;
    }
}

.services-content-block-reverse {
    @media (max-width: 68.75rem) {
        display: flex;
        flex-direction: column-reverse;
    }
}

//----------------------------------------------looking-----------------------------------------------------------

.looking {
    position: relative;
    &::before{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        content: '';
        background: url('/src/assets/img/home/looking/bg-blue.png');
        background-size: cover;
        z-index: -5;
    }
    &::after{
        position: absolute;
        top: -2.5rem;
        left: 0;
        width: 100%;
        height: 110%;
        content: '';
        background: url('/src/assets/img/home/looking/bg-white.png');
        background-size: cover;
        z-index: -5;
    }
    &__container {
    display: flex;
    flex-direction: column;
    gap: 1.875rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10.3125rem .625rem;
    position: relative;
    
    }
    &__title {
        font-family: 'Harabara';
        font-weight: 700;
        font-size: clamp(1.75rem, 5vw, 2.75rem);
        letter-spacing: 0.06em;
    }
    &__text {
        font-size: 1.5rem;
    }
}

//----------------------------------------------achievements-----------------------------------------------------------

.achievements {
    margin-top: 6.25rem;
    &__container-big{
        display: grid;
        gap: 6.25rem;
    }
    &__title {
        font-family: 'Harabara';
        font-weight: 700;
        color: $darkBlueColor;
        font-size: 2.25rem;
        letter-spacing: 0.1rem;
        text-transform: uppercase;
        text-align: center;
    }
    &__content {
    }
}
.achievements-content {
    display: grid;
    gap: .9375rem;
    grid-template-columns: repeat(auto-fill, 20rem);
    justify-content: center;
    align-items: center;
    text-align: center;
    align-content: center;
    @media (max-width: $tablet) {
        grid-template-columns: repeat(auto-fill, clamp(18rem, 5vw,20rem));
    }
    &__item {
    }
}
.achievements-content-item {
    height: 25rem;
    box-shadow: 0px 3px 16px 2px rgba(29, 51, 107, 0.15);
    border-radius: 1rem;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    text-align: center;
    padding: 0rem 1.25rem 3.75rem 1.25rem;
    &__image {
    }
    &__text {
        color: $mainColor;
        line-height: 162%;
    }
    &__text span{
        color: $mediumBlueColor;
        font-weight: 700;
    }
}
.achievements-content-item-1 {
    position: relative;
    &::before{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 90%;
        content: '';
        background: url('/src/assets/img/home/achievements/card1.svg');
        background-size: cover;
        z-index: -5;
    }
}
.achievements-content-item-2 {
    position: relative;
    &::before{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        content: '';
        background: url('/src/assets/img/home/achievements/card2.svg');
        background-size: cover;
        z-index: -5;
    }
}
.achievements-content-item-3 {
    position: relative;
    &::before{
        position: absolute;
        top: 10%;
        left: 15%;
        width: 75%;
        height: 55%;
        content: '';
        background: url('/src/assets/img/home/achievements/card3.svg');
        background-size: cover;
        z-index: -5;
    }
}
.achievements-content-item-4 {
    position: relative;
    &::before{
        position: absolute;
        top: 10%;
        left: 10%;
        width: 80%;
        height: 45%;
        content: '';
        background: url('/src/assets/img/home/achievements/card4.svg');
        background-size: cover;
        z-index: -5;
    }
}

//----------------------------------------------partners-----------------------------------------------------------

.partners {
    position: relative;
    padding-top: 9.375rem;
    padding-bottom: 9.375rem;
    gap: 5rem;
    &__container-big {
        &::before{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            content: '';
            background: url('/src/assets/img/home/partners/partners-bg.png');
            background-size: cover;
            z-index: -5;
        }
    }
    &__title {
        font-family: 'Harabara';
        font-weight: 700;
        color: $darkBlueColor;
        font-size: 2.25rem;
        letter-spacing: 0.1rem;
        text-transform: uppercase;
        text-align: center;
        padding-bottom: 5rem;
    }
    &__content {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(15rem, 20.125rem));
        grid-auto-rows: 10rem;
        row-gap: 2.5rem;
        column-gap: 1.5rem;
        justify-content: center;
      @media (max-width: $tablet) {
        padding: 0rem .9375rem;
      }
    }
}
.partners-content {
    position: relative;
    &__item {
        display: flex;
        border-radius: 1rem;
        box-shadow: 0px 3px 16px 4px rgba(29, 51, 107, 0.1);
        justify-content: center;
        align-items: center;
    }
}

//----------------------------------------------contacts-----------------------------------------------------------

.contacts {
    padding: 6.25rem .625rem;
    &__container {
        display: grid;
        gap: 1.875rem;
        text-align: center;
    }
    &__title {
        font-family: 'Harabara';
        font-weight: 700;
        color: $darkBlueColor;
        font-size: 2.25rem;
        letter-spacing: 0.1rem;
        text-transform: uppercase;
        text-align: center;
        padding-bottom: 5rem;
        padding-bottom: 1.5625rem;
    }
    &__text {
        font-weight: 700;
        font-size: 1.5rem;
        color: $mainColor;

    }
    &__subtext {
        color: $mainColor;
    }
    &__content {}
}
.contacts-content {
    margin-top: 6.25rem;
    display: flex;
    justify-content: space-between;
    @media (max-width: $tablet) {
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 3.125rem;
    }
    &__info {
    }
    &__form {
    }
}
.contacts-content-info {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    &__item {}
}
.contacts-content-info-item {
   display: flex;
   gap: 1.25rem;
   height: 30px;
    &__icon {}
    &__text {
        color: $mainColor;
        text-align: left;
    }
    &__item {}
}

.contacts-content-form {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 3.125rem 2.5rem 4.375rem 2.5rem;
    box-shadow: 0px 3px 16px 2px rgba(29, 51, 107, 0.15);
    border-radius: .375rem;
    max-height: 25rem;
    max-width: 26.25rem;
    width: 26.25rem;
    font-family: 'Open Sans';
    background-color: $witeColor;
    gap: 20px;
    @media (max-width: 31.25em) {
        width: 18.75rem;
    }
    &::before{
        position: absolute;
        bottom: -65%;
        left: -120px;
        width: 100%;
        height: 100%;
        content: '';
        background: url("/src/assets/img/home/contacts/form/messageBg.svg") no-repeat;
        z-index: -1;
    }
    &::after{
        position: absolute;
        top: -50px;
        left: -100px;
        width: 100%;
        height: 100%;
        content: '';
        background: url("/src/assets/img/home/contacts/form/chatBg.svg") no-repeat;
        z-index: -1;
    }
    &__input {
        color: #a9a9a9;
        border: 1px solid rgb(215, 215, 215);
        border-radius: .25rem;
        height: 1.25rem;
        padding: 1.25rem;
    }
    &__textarea-label {
        
    }
    &__textarea {
        font-size: 1rem;
        color: #a9a9a9;
        border: 1px solid rgb(215, 215, 215);
        max-width: 21.1875rem;
        min-width: 21.1875rem;
        max-height: 5rem;
        min-height: 5rem;
        padding: 1.25rem;
    }
    &__button {
        margin-top: .625rem;
        background-color: #2DA531;
        text-transform: uppercase;
        padding: .9375rem 2.5rem;
        border-radius: .375rem;
        cursor: pointer;
        &:hover{
            background-color: #4bc24f;
        }
    }
}

.contacts-content-form-inner{
        position: absolute;
        top: -50px;
        left: 88%;
        width: 100%;
        height: 100%;
        content: '';
        background: url("/src/assets/img/home/contacts/form/telephoneBg.svg") no-repeat;
        z-index: -1;
    }